html, html * {
  box-sizing: border-box;
}
html body, html * body {
  background-color: #FDF1D5;
  font-family: lato, sans-serif;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.sro {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
}
header .nav .burger {
  display: none;
  position: absolute;
  right: 0;
}
@media screen and (max-width: 1000px) {
  header .nav .burger {
    display: block;
    margin-top: 1rem;
  }
  header .nav .burger-shower {
    display: none;
  }
  header .nav .wrapper {
    display: none;
  }
  header .nav .burger-menu {
    display: none;
    background-color: #fff;
    height: 100vh;
    width: 200px;
    position: absolute; /* Position absolue pour s'afficher correctement */
    left: -100px;
    top: 40px; /* Positionnement en haut */
  }
  header .nav #burger:checked ~ .burger-menu {
    display: block;
  }
  header .nav .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 3.4em;
    height: 2.4em;
    padding: 0 0.8em 0.8em;
    cursor: pointer;
    position: relative; /* Position relative pour maintenir la structure */
    z-index: 3; /* Placer la `label` au-dessus de tout */
  }
  header .nav .hamburger .item {
    width: 30px;
    height: 4px;
    background: #000;
  }
}
header .nav .menu {
  display: flex;
  width: 80vw;
  margin: auto;
  gap: 3rem;
}
header .nav .menu li {
  padding: 1.5rem 0;
}
header .nav a:hover {
  color: #C1111F;
}
header .nav a {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}
header .nav .menu-item-55 {
  margin-left: auto;
  padding: 0;
}
header .nav .menu-item-55 a {
  color: #fff;
}

.menu-item-55 a, #donate {
  font-weight: 700;
  color: #fff;
  background-color: #C1111F;
  padding: 0.6rem 1.5rem;
  border-radius: 30px;
}

.menu-item-55 a:hover, #donate:hover {
  background-color: #780000;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  .home {
    flex-direction: column;
  }
}
.home {
  height: 80vh;
  max-width: 80vw;
  background-color: #FDF0D5;
  display: flex;
  margin: 0 auto;
  padding: 8rem 0 0;
  gap: 10rem;
}
.home__wrapper {
  max-width: 50%;
  max-height: 400px;
}
.home__wrapper p {
  font-size: 19.2px;
  line-height: 28px;
  padding-top: 1rem;
}
.home__title {
  font-size: 2.488125rem;
}
.home__image {
  max-width: 100%;
}
.home__image img {
  width: 500px;
  height: 500px;
  border-radius: 30px;
}

.description, .shop, .housing, .contact {
  background-color: #fff;
  padding-top: 5rem;
}
.description__background, .shop__background, .housing__background, .contact__background {
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  gap: 1.875rem;
}
@media screen and (max-width: 1000px) {
  .description__background, .shop__background, .housing__background, .contact__background {
    flex-direction: column;
  }
}
.description__support, .shop__support, .housing__support, .contact__support {
  max-width: 50%;
  margin: auto 0;
}
.description__title, .shop__title, .housing__title, .contact__title {
  font-size: 2.07375rem;
  margin-bottom: 1.5rem;
}
.description__text, .shop__text, .housing__text, .contact__text {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}
.description__image, .shop__image, .housing__image, .contact__image {
  max-width: 100%;
}
.description__image img, .shop__image img, .housing__image img, .contact__image img {
  height: auto;
  max-width: 100%;
  border-radius: 30px;
}
.description__button, .shop__button, .housing__button, .contact__button {
  font-weight: 700;
  color: #fff;
  background-color: #C1111F;
  padding: 0.6rem 1.5rem;
  border-radius: 30px;
  text-decoration: none;
}
.description__button:hover, .shop__button:hover, .housing__button:hover, .contact__button:hover {
  background-color: #780000;
  color: #fff;
}

.shop__image {
  order: 2;
}
.shop__support {
  order: 1;
}

.contact__background {
  padding-bottom: 5rem;
}
.contact__image {
  order: 2;
}
.contact__support {
  order: 1;
}

.news {
  background-color: #FDF0D5;
}
.news__background {
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.news__title {
  padding-top: 5rem;
  font-size: 2.07375rem;
}
.news__link {
  margin-top: 5.5rem;
  color: #000;
}
.news__content {
  display: flex;
  max-width: 80vw;
  margin: 2rem auto 5rem;
  justify-content: space-between;
}
.news__content div {
  background-color: #fff;
  border-radius: 20px;
  height: 200px;
  width: 400px;
}

footer {
  background-color: #669BBC;
}
footer .footer {
  max-width: 80vw;
  margin: 0 auto;
}
footer .footer__menu-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  footer .footer__menu-list {
    flex-direction: column;
  }
}
footer .footer__menu-li {
  font-size: 1.44rem;
  font-weight: 700;
  margin-top: 50px;
}
footer .footer__menu-li li:first-of-type {
  margin: 25px 0 20px;
}
footer .footer__menu-li li {
  font-size: 1rem;
  font-weight: normal;
  margin: 20px 0 20px;
}
footer .footer__menu-li li:has(a[id=donate]) {
  margin-top: 30px;
}
footer .footer__menu-li li span {
  font-weight: 700;
}
footer .footer__menu-li li a {
  text-decoration: none;
  color: #000;
}
footer .footer__menu-li li a:hover {
  color: #FDF0D5;
}
footer .line {
  border-bottom: 1px solid #fff;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  color: #FDF0D5;
}
footer .copyright {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

html {
  margin-top: 0 !important;
}
html .shopp__background {
  background-image: url("/wp-content/themes/sef/resources/img/shop.jpg");
  background-size: cover;
  background-position-y: center;
  height: 400px;
}
html .shopp__background .map__title {
  padding: 13rem 0 0 10%;
  font-size: 2.488125rem;
  font-weight: 500;
  color: #fff;
}
html .shopp .map {
  background-color: #fff;
  width: 80vw;
  height: 700px;
  margin: 3.25rem auto 0;
  border-radius: 30px;
}
html .shop1, html .shop2, html .shop3 {
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  gap: 1.875rem;
  padding-top: 5rem;
}
html .shop1__support, html .shop2__support, html .shop3__support {
  max-width: 50%;
  margin: auto 0;
}
html .shop1__title, html .shop2__title, html .shop3__title {
  font-size: 2.07375rem;
  margin-bottom: 1.5rem;
}
html .shop1__text, html .shop2__text, html .shop3__text {
  font-size: 1rem;
  line-height: 1.5rem;
}
html .shop1__image, html .shop2__image, html .shop3__image {
  max-width: 50%;
}
html .shop1__image img, html .shop2__image img, html .shop3__image img {
  height: 400px;
  width: 600px;
  border-radius: 30px;
}
html .shop2__image {
  order: 2;
}
html .shop2__support {
  order: 1;
}
html .shop3 {
  padding-bottom: 5rem;
}

.help {
  background-color: #FDF0D5;
}
.help__background {
  height: 400px;
  background-image: url("/wp-content/themes/sef/resources/img/support.jpg");
  background-position-y: center;
  background-size: cover;
}
.help__title {
  padding: 13rem 0 0 10%;
  font-size: 2.488125rem;
  color: #fff;
}
@media screen and (max-width: 1000px) {
  .help .donate, .help .donate2, .help .volunteer, .help .legs {
    flex-direction: column;
  }
}
.help .donate, .help .donate2, .help .volunteer, .help .legs {
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  gap: 1.875rem;
  padding-top: 5rem;
}
.help .donate__support, .help .donate2__support, .help .volunteer__support, .help .legs__support {
  max-width: 50%;
  margin: auto 0;
}
.help .donate__title, .help .donate2__title, .help .volunteer__title, .help .legs__title {
  font-size: 2.07375rem;
  margin-bottom: 1.5rem;
}
.help .donate__text, .help .donate2__text, .help .volunteer__text, .help .legs__text {
  font-size: 1rem;
  line-height: 1.5rem;
}
.help .donate__image, .help .donate2__image, .help .volunteer__image, .help .legs__image {
  max-width: 100%;
}
.help .donate__image img, .help .donate2__image img, .help .volunteer__image img, .help .legs__image img {
  height: auto;
  max-width: 100%;
  border-radius: 30px;
}
.help .donate__warning, .help .donate2__warning, .help .volunteer__warning, .help .legs__warning {
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #C1111F;
  border-radius: 20px;
  margin-top: 1rem;
}
.help .donate2__image, .help .legs__image {
  order: 2;
}
.help .donate2__support, .help .legs__support {
  order: 1;
}
.help .legs {
  padding-bottom: 5rem;
}
.help .support {
  background-color: #fff;
}
.help .support__background {
  width: 80vw;
  margin: 0 auto;
}
.help .support__title {
  font-size: 2.488125rem;
  padding-top: 2rem;
}
.help .support__image {
  margin-top: 2rem;
  background-color: red;
  border-radius: 30px;
  width: 600px;
  height: 400px;
}
.help .support__image a {
  font-size: 2.07375rem;
  text-decoration: none;
  color: #fff;
}

.contact-page__background {
  height: 400px;
  background-image: url("/wp-content/themes/sef/resources/img/contact2.jpg");
  background-position-y: center;
  background-size: cover;
}
.contact-page__title {
  font-size: 2.98625rem;
  padding: 13rem 0 0 10%;
  color: #fff;
}
@media screen and (max-width: 1000px) {
  .contact-page .form {
    flex-direction: column;
  }
}
.contact-page .form {
  padding: 5rem 0;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}
.contact-page .form h2 {
  font-size: 2.07375rem;
  margin-bottom: 2rem;
  padding: 2rem 0 0 2rem;
}
.contact-page .form p {
  margin-bottom: 2rem;
  padding-left: 2rem;
}
.contact-page .form__info {
  width: 50%;
  height: 500px;
  background-color: #fff;
}
.contact-page .form__contact {
  width: 50%;
  height: 500px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 0 15px 0.1px;
}
@media screen and (max-width: 1000px) {
  .contact-page .form__contact {
    width: 100%;
  }
  .contact-page .form__info {
    width: 100%;
  }
}

.news-page {
  height: 600px;
}
.news-page__banner {
  background-image: url("/wp-content/themes/sef/resources/img/news.jpg");
  background-size: cover;
  background-position-y: center;
  height: 400px;
}
.news-page__title {
  font-size: 2.98625rem;
  padding: 13rem 0 0 10%;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
