html, html * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html body, html * body {
  background-color: #FDF1D5;
  font-family: lato, Arial, Helvetica, sans-serif;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.sro {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
  z-index: 1;
}
header .nav .active {
  color: #C1111F !important;
}
header .nav__image {
  position: absolute;
  top: 0.5rem;
  left: 10%;
}
header .nav__burger {
  display: none;
}
header .nav .burger {
  display: none;
  position: absolute;
  right: 0;
}
@media screen and (max-width: 1000px) {
  header .nav {
    position: relative;
  }
  header .nav__burger {
    display: block;
    height: 64px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
  }
  header .nav .burger {
    display: block;
    padding-top: 1rem;
  }
  header .nav .burger-shower {
    display: none;
  }
  header .nav__wrapper {
    display: none;
  }
  header .nav .burger-menu {
    display: none;
    background-color: #fff;
    height: 100vh;
    width: 60vw;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
  header .nav .burger-menu .burger-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 0 1rem 1rem;
  }
  header .nav .burger-menu li:first-of-type {
    margin-top: 5rem;
  }
  header .nav .burger-menu li {
    margin-top: 1rem;
  }
  header .nav .burger-menu li a {
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    color: #000;
  }
  header .nav .social {
    display: none;
  }
  header .nav #burger:checked ~ .burger-menu {
    display: block;
  }
  header .nav #burger:checked ~ .overlay {
    position: fixed;
    left: 0;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }
  header .nav #burger:checked ~ .social {
    display: block;
    position: fixed;
    z-index: 1;
    bottom: 1rem;
  }
  header .nav .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 3.4rem;
    height: 2.4rem;
    padding: 0 0.8rem 0.8rem;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }
  header .nav .hamburger .item {
    width: 30px;
    height: 3px;
    background: #000;
  }
}
header .nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 80vw;
  margin: auto;
  gap: 3rem;
}
header .nav .menu li {
  padding: 1.5rem 0;
}
header .nav .menu a:hover, header .nav .menu a:focus {
  color: #C1111F;
}
header .nav .menu .menu-item.active a {
  color: #C1111F;
}
header .nav .menu a {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}
header .nav .menu-item-50, header .nav .menu-item-308, header .nav .menu-item-48, header .nav .menu-item-51, header .nav .menu-item-52, header .nav .menu-item-53 {
  position: relative;
  left: 6%;
}
header .nav .menu-item-55 {
  margin-left: auto;
  padding: 0;
}
header .nav .menu-item-55 a {
  color: #fff;
}

.menu-item-55 a, #donate {
  font-weight: 700;
  color: #fff;
  background-color: #C1111F;
  padding: 0.6rem 1.5rem;
  border-radius: 30px;
}

.menu-item-55 a:hover, #donate:hover {
  background-color: #780000;
  color: #fff;
}

.home {
  max-width: 80vw;
  background-color: #FDF0D5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 8rem 0 5rem;
  gap: 10rem;
}
.home__wrapper {
  max-width: 50%;
  margin: auto 0;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}
.home__wrapper p {
  font-size: 1.2rem;
  line-height: 1.75rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.home__wrapper a {
  font-weight: 700;
  color: #fff;
  background-color: #C1111F;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  text-decoration: none;
}
.home__wrapper a:hover {
  background-color: #780000;
  color: #fff;
}
.home__title {
  font-size: 2.488125rem;
}
.home__image {
  max-width: 100%;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
.home__image img {
  width: 100%;
  height: auto;
  border-radius: 2rem;
}
@media screen and (max-width: 900px) {
  .home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1rem;
    height: auto;
    padding-bottom: 1rem;
  }
  .home__wrapper {
    padding-bottom: 2rem;
  }
  .home__text {
    padding-bottom: 3rem;
  }
  .home__image {
    max-width: 100%;
    padding-bottom: 1rem;
  }
  .home__wrapper {
    max-width: 100%;
  }
}

.description, .shop, .housing, .contact {
  background-color: #fff;
  padding-top: 4rem;
}
.description__background, .shop__background, .housing__background, .contact__background {
  max-width: 80vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 1.875rem;
}
@media screen and (max-width: 900px) {
  .description .description__image, .description .shop__image, .description .housing__image, .description .contact__image, .shop .description__image, .shop .shop__image, .shop .housing__image, .shop .contact__image, .housing .description__image, .housing .shop__image, .housing .housing__image, .housing .contact__image, .contact .description__image, .contact .shop__image, .contact .housing__image, .contact .contact__image {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .description .description__support, .description .shop__support, .description .housing__support, .description .contact__support, .shop .description__support, .shop .shop__support, .shop .housing__support, .shop .contact__support, .housing .description__support, .housing .shop__support, .housing .housing__support, .housing .contact__support, .contact .description__support, .contact .shop__support, .contact .housing__support, .contact .contact__support {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    max-width: 100%;
  }
  .description .description__text, .description .shop__text, .description .housing__text, .description .contact__text, .shop .description__text, .shop .shop__text, .shop .housing__text, .shop .contact__text, .housing .description__text, .housing .shop__text, .housing .housing__text, .housing .contact__text, .contact .description__text, .contact .shop__text, .contact .housing__text, .contact .contact__text {
    padding-bottom: 0.5rem;
  }
  .description__background, .shop__background, .housing__background, .contact__background {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.description__support, .shop__support, .housing__support, .contact__support {
  max-width: 50%;
  margin: auto 0;
}
.description__title, .shop__title, .housing__title, .contact__title {
  font-size: 2.07375rem;
  margin-bottom: 1.5rem;
}
.description__text, .shop__text, .housing__text, .contact__text {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
}
.description__image, .shop__image, .housing__image, .contact__image {
  max-width: 100%;
}
.description__image img, .shop__image img, .housing__image img, .contact__image img {
  height: auto;
  max-width: 100%;
  border-radius: 2rem;
}
.description__button, .shop__button, .housing__button, .contact__button {
  font-weight: 700;
  color: #fff;
  background-color: #C1111F;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  text-decoration: none;
}
.description__button:hover, .shop__button:hover, .housing__button:hover, .contact__button:hover {
  background-color: #780000;
  color: #fff;
}

.shop__image, .contact__image {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}
.shop__support, .contact__support {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.contact__background {
  padding-bottom: 5rem;
}

.news {
  background-color: #FDF0D5;
}
.news__background, .news__content {
  max-width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.news__background {
  margin: 0 auto;
}
.news__background h2 {
  font-weight: 500;
}
.news__background a {
  text-decoration: none;
  font-weight: 700;
}
.news__background a:hover {
  color: #C1111F;
}
.news__title {
  padding-top: 5rem;
  font-size: 2.07375rem;
}
.news__link {
  margin-top: 5.5rem;
  color: #000;
}
.news__content {
  gap: 2rem;
  margin: 2rem auto 5rem;
}
.news__content article a.news__image {
  height: auto;
}
.news__content article a.news__image img {
  border-radius: 2rem;
  max-width: 100%;
}
.news__content article h3 {
  padding: 1.5rem 0;
  font-size: 1.728125rem;
  font-weight: 700;
}
.news__content article p:first-of-type {
  opacity: 0.6;
}
.news__content article p {
  max-width: 350px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom: 1.5rem;
  font-size: 1rem;
}
.news__content article a.news__button {
  text-decoration: none;
  background-color: #C1111F;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  color: #fff;
  max-width: 150px;
  font-size: 1rem;
  font-weight: 700;
}
.news__content article a.news__image:hover {
  opacity: 0.8;
}
.news__content article a.news__button:hover {
  background-color: #780000;
}
@media screen and (max-width: 1400px) {
  .news__content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .news__content article {
    margin-top: 1rem;
  }
}

footer {
  background-color: #669BBC;
}
footer .footer {
  max-width: 80vw;
  margin: 0 auto;
}
footer .footer__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media screen and (max-width: 1000px) {
  footer .footer__menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
footer .footer__menu-li {
  font-size: 1.44rem;
  font-weight: 700;
  margin-top: 3.125rem;
}
footer .footer__menu-li li:first-of-type {
  margin: 1.5625rem 0 1.25rem;
}
footer .footer__menu-li li {
  font-size: 1rem;
  font-weight: normal;
  margin: 1.25rem 0 1.25rem;
}
footer .footer__menu-li li:has(a[id=donate]) {
  margin-top: 1.875rem;
}
footer .footer__menu-li li span {
  font-weight: 700;
}
footer .footer__menu-li li a {
  text-decoration: none;
  color: #000;
}
footer .footer__menu-li li a:hover {
  color: #FDF0D5;
}
footer .footer__menu-li li p {
  margin: 1.25rem 0 1.25rem;
}
footer .footer__secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1.875rem 0;
  gap: 10rem;
}
@media screen and (max-width: 1000px) {
  footer .footer__secondary {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }
}
footer .footer__secondary a {
  font-size: 1rem;
  text-decoration: none;
  color: #000;
}
footer .footer__secondary a:hover {
  color: #FDF0D5;
}
footer .line {
  border-bottom: 1px solid #fff;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  color: #FDF0D5;
}
@media screen and (max-width: 900px) {
  footer .line {
    margin-top: 1rem;
  }
}

html .shop-page {
  margin: 64px 0 0;
}
html .shop-page__background {
  background-image: url("/wp-content/themes/sef/resources/img/shop.jpg");
  background-size: cover;
  background-position-y: center;
  background-repeat: no-repeat;
  height: auto;
}
html .shop-page #map {
  height: 37.5rem;
  max-width: 80vw;
  margin: 4rem auto 0;
  border-radius: 1rem;
}
html .shop-page__title {
  padding: 10rem 0 10rem 10%;
  font-size: 2.488125rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
html .shop1, html .shop2, html .shop3 {
  max-width: 80vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  padding-top: 4rem;
}
html .shop1__support, html .shop2__support, html .shop3__support {
  max-width: 50%;
  margin: auto 0;
}
html .shop1__support p, html .shop2__support p, html .shop3__support p {
  padding-top: 2rem;
}
html .shop1__title, html .shop2__title, html .shop3__title {
  font-size: 2.07375rem;
}
html .shop1__text, html .shop2__text, html .shop3__text {
  font-size: 1rem;
  line-height: 1.5rem;
}
html .shop1__image, html .shop2__image, html .shop3__image {
  max-width: 100%;
}
html .shop1__image img, html .shop2__image img, html .shop3__image img {
  height: auto;
  width: 100%;
  border-radius: 30px;
}
html .shop2__image {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}
html .shop2__support {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
@media screen and (max-width: 900px) {
  html .shop-page__title {
    padding: 6rem 0 6rem 10%;
  }
  html .shop-page #map {
    height: 25rem;
  }
  html .shop1, html .shop2, html .shop3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  html .shop1__image, html .shop2__image, html .shop3__image {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  html .shop1__support, html .shop2__support, html .shop3__support {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    max-width: 100%;
    padding-bottom: 1rem;
  }
}
html .shop3 {
  padding-bottom: 5rem;
}

.help {
  background-color: #FDF0D5;
  margin: 64px 0 0;
}
.help__background {
  height: auto;
  background-image: url("/wp-content/themes/sef/resources/img/support.jpg");
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.help__title {
  padding: 10rem 0 10rem 10%;
  font-size: 2.488125rem;
  color: #fff;
}
.help .donate, .help .materials, .help .volunteer, .help .legs {
  max-width: 80vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 1.875rem;
  padding-top: 4rem;
}
.help .donate__support, .help .materials__support, .help .volunteer__support, .help .legs__support {
  max-width: 50%;
  margin: auto 0;
}
.help .donate__title, .help .materials__title, .help .volunteer__title, .help .legs__title {
  font-size: 2.07375rem;
  margin-bottom: 1.5rem;
}
.help .donate__text, .help .materials__text, .help .volunteer__text, .help .legs__text {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}
.help .donate__image, .help .materials__image, .help .volunteer__image, .help .legs__image {
  max-width: 100%;
}
.help .donate__image img, .help .materials__image img, .help .volunteer__image img, .help .legs__image img {
  height: auto;
  max-width: 100%;
  border-radius: 30px;
}
.help .donate__warning, .help .materials__warning, .help .volunteer__warning, .help .legs__warning {
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #C1111F;
  border-radius: 20px;
  margin-top: 1rem;
}
.help .materials__image, .help .legs__image {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}
.help .materials__support, .help .legs__support {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
.help .legs {
  padding-bottom: 5rem;
}
.help .support {
  background-color: #fff;
  padding-bottom: 5rem;
}
.help .support__title {
  font-size: 2.488125rem;
  font-weight: 500;
  padding-top: 4rem;
  max-width: 80vw;
  margin: 0 auto;
}
.help .support__background {
  max-width: 80vw;
  margin: 2rem auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 1.875rem;
}
.help .support__shop, .help .support__event {
  max-width: 100%;
  height: auto;
  position: relative;
}
.help .support__shop h3, .help .support__event h3 {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: #fff;
  font-size: 2.07375rem;
  font-weight: 700;
  z-index: 1;
}
.help .support__shop img, .help .support__event img {
  border-radius: 30px;
  max-width: 100%;
  height: 100%;
}
.help .support__shop a:hover, .help .support__event a:hover {
  opacity: 0.7;
}
@media screen and (max-width: 900px) {
  .help__title {
    padding: 6rem 0 6rem 10%;
  }
  .help .donate, .help .materials, .help .volunteer, .help .legs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .help .donate__image, .help .materials__image, .help .volunteer__image, .help .legs__image {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    padding-top: 1rem;
  }
  .help .donate__support, .help .materials__support, .help .volunteer__support, .help .legs__support {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    max-width: 100%;
  }
  .help .support__background {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2rem;
  }
}

.contact-page {
  margin: 64px 0 0;
}
.contact-page__background {
  height: auto;
  background-image: url("/wp-content/themes/sef/resources/img/contact2.jpg");
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.contact-page__title {
  font-size: 2.98625rem;
  padding: 10rem 0 10rem 10%;
  color: #fff;
}
.contact-page .form {
  padding: 5rem 0;
  max-width: 80vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 10rem;
}
.contact-page .form h2 {
  font-size: 2.07375rem;
  margin-bottom: 2rem;
  padding: 2rem 0 0 2rem;
}
.contact-page .form__info {
  max-width: 50%;
}
.contact-page .form__info h3 {
  font-size: 2.07375rem;
  margin-bottom: 2rem;
}
.contact-page .form__info ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  padding-bottom: 1.5rem;
}
.contact-page .form__info ul li a {
  text-decoration: none;
  color: #000;
  padding-left: 0.5rem;
  font-size: 1rem;
}
.contact-page .form__info ul li p {
  padding-left: 0.5rem;
  font-size: 1rem;
}
.contact-page .form__info ul li a:hover {
  text-decoration: underline;
}
.contact-page .form__info strong {
  font-weight: 700;
}
.contact-page .form__info .line2 {
  margin: 1rem 0 2rem;
  border-bottom: 1px solid #000;
  max-width: 75%;
}
.contact-page .form__contact {
  width: 50%;
  height: auto;
  background-color: #fff;
  border-radius: 2rem;
  -webkit-box-shadow: 0 0 1rem 0.1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 1rem 0.1px rgba(0, 0, 0, 0.4);
}
.contact-page .form__contact p {
  margin-bottom: 2rem;
  padding-left: 2rem;
  font-size: 1rem;
}
.contact-page .form__contact label {
  font-size: 1rem;
  font-weight: 700;
}
.contact-page .form__contact textarea {
  max-width: 95%;
  min-width: 95%;
}
.contact-page .form__contact .wpcf7-form-control {
  width: 95%;
  border-radius: 1rem;
  border: 1px solid #000;
  padding: 1rem;
}
.contact-page .form__contact .wpcf7-submit {
  background-color: #C1111F;
  padding: 1rem 0;
  border: none;
  border-radius: 1rem;
  color: #fff;
  font-weight: 700;
}
.contact-page .form__contact .wpcf7-submit:hover {
  background-color: #780000;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .contact-page .form__contact {
    width: 100%;
  }
  .contact-page .form__contact textarea {
    max-width: 90%;
    min-width: 90%;
  }
  .contact-page .form__contact .wpcf7-form-control {
    width: 90%;
  }
  .contact-page .form__info {
    max-width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .contact-page .contact-page__title {
    padding: 6rem 0 6rem 10%;
  }
  .contact-page .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 5rem;
  }
}

.news-page {
  margin: 64px 0 0;
}
.news-page__banner {
  background-image: url("/wp-content/themes/sef/resources/img/news.jpg");
  background-size: cover;
  background-position-y: center;
  background-repeat: no-repeat;
  height: auto;
}
.news-page__title {
  font-size: 2.98625rem;
  padding: 10rem 0 10rem 10%;
  color: #fff;
}
.news-page__container {
  max-width: 80vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 2rem;
  padding-bottom: 5rem;
}
.news-page__container article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.news-page__container article a.news-page__image {
  margin-top: 4rem;
  height: auto;
}
.news-page__container article a.news-page__image img {
  border-radius: 2rem;
  max-width: 100%;
}
.news-page__container article h3 {
  font-size: 1.728125rem;
  font-weight: 700;
  padding: 1.5rem 0;
}
.news-page__container article p:first-of-type {
  opacity: 0.6;
}
.news-page__container article p {
  max-width: 350px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom: 1.5rem;
  font-size: 1rem;
}
.news-page__container article a.news-page__image:hover {
  opacity: 0.8;
}
.news-page__container article a.news-page__button:hover {
  background-color: #780000;
}
.news-page__button {
  text-decoration: none;
  background-color: #C1111F;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  color: #fff;
  max-width: 150px;
  font-size: 1rem;
  font-weight: 700;
}
@media screen and (max-width: 1000px) {
  .news-page__title {
    padding: 6rem 0 6rem 10%;
  }
  .news-page article:first-child {
    margin-top: 2rem;
  }
  .news-page article a.news-page__image {
    margin-top: 1rem;
  }
}

.articles {
  margin: 64px 0 0;
  padding-top: 3rem;
}
.articles__wrapper {
  max-width: 80vw;
  margin: 0 auto;
  text-align: center;
}
.articles__wrapper h2 {
  font-size: 2.07375rem;
  font-weight: 700;
  line-height: 1.5rem;
}
.articles__wrapper p {
  font-size: 1rem;
  line-height: 1.5rem;
}
.articles__wrapper p:first-of-type {
  padding: 2rem 0;
  opacity: 0.6;
}
.articles__wrapper img {
  border-radius: 1rem;
  max-width: 100%;
}
.articles__wrapper p:last-of-type {
  padding: 2rem 0 3rem;
}
.articles .article {
  background-color: #fff;
  padding-bottom: 5rem;
}
.articles .article__background {
  max-width: 80vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.articles .article__background h2 {
  font-size: 2.07375rem;
  padding-top: 5rem;
}
.articles .article__background a {
  margin-top: 5.5rem;
  text-decoration: none;
  color: #000;
}
.articles .article__background a:hover {
  color: #C1111F;
}
.articles .article__wrapper {
  max-width: 80vw;
  margin: 2rem auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 2rem;
}
.articles .article__wrapper img {
  height: auto;
  border-radius: 2rem;
  max-width: 100%;
}
.articles .article__wrapper h3 {
  padding: 1.5rem 0;
  font-size: 1.728125rem;
  font-weight: 700;
}
.articles .article__wrapper p:first-of-type {
  opacity: 0.6;
}
.articles .article__wrapper p {
  max-width: 350px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom: 1.5rem;
  font-size: 1rem;
}
.articles .article__wrapper a.article__button {
  text-decoration: none;
  background-color: #C1111F;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  color: #fff;
  max-width: 150px;
  font-size: 1rem;
  font-weight: 700;
}
.articles .article__wrapper a.article__image:hover {
  opacity: 0.8;
}
.articles .article__wrapper a.article__button:hover {
  background-color: #780000;
}
@media screen and (max-width: 1400px) {
  .articles .article__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .articles .article article {
    margin-top: 1rem;
  }
}

.sef {
  margin: 64px auto 0;
  max-width: 80vw;
}
.sef__content:first-of-type {
  padding-top: 4rem;
}
.sef__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  padding-bottom: 4rem;
}
.sef__content h2 {
  font-size: 2.07375rem;
  padding-bottom: 1.5rem;
}
.sef__content p {
  font-size: 1rem;
  line-height: 1.5rem;
}
.sef__image {
  max-width: 50%;
}
.sef__image img {
  border-radius: 2rem;
  width: 100%;
  height: auto;
}
.sef__description {
  max-width: 50%;
  margin: auto 0;
}
.sef__button {
  font-weight: 700;
  color: #fff;
  background-color: #C1111F;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  text-decoration: none;
}
.sef__button:hover {
  background-color: #780000;
  color: #fff;
}
.sef section:nth-of-type(2) .sef__image {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}
.sef section:nth-of-type(2) .sef__content {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
@media screen and (max-width: 1000px) {
  .sef .sef__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .sef .sef__image {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    max-width: 100%;
  }
  .sef .sef__description {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    max-width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
