*
!.gitignoregit
!README.md
!wp-content/
wp-content/*
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/sef
!wp-content/themes/sef/*
!wp-content/themes/sef/resources/*
!wp-content/themes/sef/resources/css/*
!wp-content/themes/sef/resources/js/*
!wp-content/themes/sef/resources/sass/*
!wp-content/themes/sef/resources/sass/components/*