html, html * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  body {
    background-color: #FDF1D5;
    font-family: lato, Arial, Helvetica, sans-serif;
  }
}

@import "reset";
@import "helpers";

@import "components/nav";
@import "components/donate";
@import "components/home";
@import "components/description";
@import "components/footer";
@import "components/shop";
@import "components/help-us";
@import "components/contact";
@import "components/news";
@import "components/article";
@import "components/sef";