.description, .shop, .housing, .contact {
  background-color: #fff;
  padding-top: 4rem;

  &__background {
    max-width: 80vw;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 1.875rem;
  }

  @media screen and (max-width: 900px) {
    .description, .shop, .housing, .contact {

      &__image {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
      }

      &__support {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        max-width: 100%;
      }

      &__text {
        padding-bottom: .5rem;
      }
    }

    &__background {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }

  &__support {
    max-width: 50%;
    margin: auto 0;
  }

  &__title {
    font-size: 2.07375rem;
    margin-bottom: 1.5rem;
  }

  &__text {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    padding-bottom: .5rem;
  }

  &__image {
    max-width: 100%;

    img {
      height: auto;
      max-width: 100%;
      border-radius: 2rem;
    }
  }

  &__button {
    font-weight: 700;
    color: #fff;
    background-color: #C1111F;
    padding: .8rem 2rem;
    border-radius: 2rem;
    text-decoration: none;
  }

  &__button:hover {
    background-color: #780000;
    color: #fff;
  }
}

.shop, .contact {

  &__image {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  &__support {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

.contact {

  &__background {
    padding-bottom: 5rem;
  }
}

.news {
  background-color: #FDF0D5;

  &__background, &__content {
    max-width: 80vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  &__background {
    margin: 0 auto;

    h2 {
      font-weight: 500;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      color: #C1111F;
    }
  }

  &__title {
    padding-top: 5rem;
    font-size: 2.07375rem;
  }

  &__link {
    margin-top: 5.5rem;
    color: #000;
  }

  &__content {
    gap: 2rem;
    margin: 2rem auto 5rem;

    article {

      a.news__image {
        height: auto;

        img {
          border-radius: 2rem;
          max-width: 100%;
        }
      }

      h3 {
        padding: 1.5rem 0;
        font-size: 1.728125rem;
        font-weight: 700;
      }

      p:first-of-type {
        opacity: .6;
      }

      p {
        max-width: 350px;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-bottom: 1.5rem;
        font-size: 1rem;
      }

      a.news__button {
        text-decoration: none;
        background-color: #C1111F;
        padding: .8rem 2rem;
        border-radius: 2rem;
        color: #fff;
        max-width: 150px;
        font-size: 1rem;
        font-weight: 700;
      }

      a.news__image:hover {
        opacity: .8;
      }

      a.news__button:hover {
        background-color: #780000;
      }
    }
  }

  @media screen and (max-width: 1400px) {
    &__content {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      article {
        margin-top: 1rem;
      }
    }
  }
}