.menu-item-55 a {
  font-weight: 700;
  color: #fff;
  background-color: #C1111F;
  padding: .6rem 1.5rem;
  border-radius: 30px;
}

.menu-item-55 a:hover {
  background-color: #780000;
  color: #fff;
}