footer {
  background-color: #669BBC;

  .footer {
    max-width: 80vw;
    margin: 0 auto;

    &__menu-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;

      @media screen and (max-width: 1000px) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
      }
    }

    &__menu-li {
      font-size: 1.44rem;
      font-weight: 700;
      margin-top: 3.125rem;

      li:first-of-type {
        margin: 1.5625rem 0 1.25rem;
      }

      li {
        font-size: 1rem;
        font-weight: normal;
        margin: 1.25rem 0 1.25rem;

        &:has(a[id="donate"]) {
          margin-top: 1.875rem;
        }

        span {
          font-weight: 700;
        }

        a {
          text-decoration: none;
          color: #000;
        }

        a:hover {
          color: #FDF0D5;
        }
      }
    }

    &__secondary {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 1.875rem 0;
      gap: 10rem;

      @media screen and (max-width: 1000px) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 2rem;
        text-align: center;
      }

      a {
        font-size: 1rem;
        text-decoration: none;
        color: #000;
      }

      a:hover {
        color: #FDF0D5;
      }
    }
  }

  .line {
    border-bottom: 1px solid #fff;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    color: #FDF0D5;
  }

  @media screen and (max-width: 900px) {
    .line {
      margin-top: 1rem;
    }
  }
}