footer {
  background-color: #669BBC;

  .footer {
    max-width: 80vw;
    margin: 0 auto;

    &__menu-list{
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 900px){
        flex-direction: column;
      }
    }

    &__menu-li {
      font-size: 1.44rem;
      font-weight: 700;
      margin-top: 3.125rem;

      li:first-of-type {
        margin: 1.5625rem 0 1.25rem;
      }

      li {
        font-size: 1rem;
        font-weight: normal;
        margin: 1.25rem 0 1.25rem;

        &:has(a[id="donate"]) {
          margin-top: 1.875rem;
        }

        span {
          font-weight: 700;
        }

        a {
          text-decoration: none;
          color: #000;
        }

        a:hover {
          color: #FDF0D5;
        }
      }
    }
  }

  .line {
    border-bottom: 1px solid #fff;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    color: #FDF0D5;
  }

  .copyright {
    display: flex;
    justify-content: center;
    padding: 1.875rem 0;
  }

  @media screen and (max-width: 900px){
    .line {
      margin-top: 1rem;
    }
  }
}