.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0 1px 10px rgba(0, 0, 0, .4);

  .menu {
    display: flex;
    width: 80vw;
    margin: auto;
    gap: 3rem;
  }

  .menu li {
    padding: 1.5rem 0;
  }

  a:hover {
    color: #C1111F;
  }

  a {
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: #000;
  }

  .menu-item-55 {
    margin-left: auto;
    padding: 0;
  }
}