header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, .4);
  box-shadow: 0 1px 10px rgba(0, 0, 0, .4);
  z-index: 1;

  .nav {

    .active {
      color: #C1111F !important;
    }

    &__image {
      position: absolute;
      top: .5rem;
      left: 10%;
    }

    &__burger {
      display: none;
    }

    .burger {
      display: none;
      position: absolute;
      right: 0;
    }

    @media screen and (max-width: 1000px) {
      position: relative;

      &__burger {
        display: block;
        height: 64px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        background-color: #fff;
        -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, .4);
        box-shadow: 0 1px 10px rgba(0, 0, 0, .4);
      }

      .burger {
        display: block;
        padding-top: 1rem;
      }

      .burger-shower {
        display: none;
      }

      &__wrapper {
        display: none;
      }

      .burger-menu {
        display: none;
        background-color: #fff;
        height: 100vh;
        width: 60vw;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;

        .burger-item {
          border-bottom: 1px solid rgba(0, 0, 0, .2);
          padding: 0 0 1rem 1rem;
        }

        li:first-of-type {
          margin-top: 5rem;
        }

        li {
          margin-top: 1rem;

          a {
            font-size: 1.2rem;
            font-weight: 700;
            text-decoration: none;
            color: #000;
          }
        }
      }

      .social {
        display: none;
      }

      #burger:checked ~ .burger-menu {
        display: block;
      }

      #burger:checked ~ .overlay {
        position: fixed;
        left: 0;
        z-index: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgb(0, 0, 0, .5);
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
      }

      #burger:checked ~ .social {
        display: block;
        position: fixed;
        z-index: 1;
        bottom: 1rem;
      }

      .hamburger {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 3.4rem;
        height: 2.4rem;
        padding: 0 .8rem .8rem;
        cursor: pointer;
        position: relative;
        z-index: 2;

        .item {
          width: 30px;
          height: 3px;
          background: #000;
        }
      }
    }

    .menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-width: 80vw;
      margin-left: 20%;
      gap: 3rem;

      li {
        padding: 1.5rem 0;

      }

      a:hover, a:focus {
        color: #C1111F;
      }

      .menu-item.active a {
        color: #C1111F;
      }

      a {
        font-size: 1rem;
        font-weight: 700;
        text-decoration: none;
        color: #000;
      }
    }

    .menu-item-50, .menu-item-308, .menu-item-48, .menu-item-51, .menu-item-52, .menu-item-53 {
      position: relative;
      left: 6%;
    }

    .menu-item-55 {
      margin-left: auto;
      margin-right: 10%;
      padding: 0;

      a {
        color: #fff;
      }
    }
  }
}